/* EXAMPLE OF A MEDIA QUERY */
/* WHEN THIS CONDITION BECOMES TRUE, THE ATTRIBUTE WILL BE CHANGED. */
/* @media (max-width: 8.5in) {
	body {
		background-color: red;
	}·
} */

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

article {
	display: grid;
	grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 1in 1fr;

	height: 100vh;

	padding: 0.5in 0;
}

article * {
	grid-column: start/end;
}

@media (max-width: 8.5in) {
	:root {
		font-size: 18px;
	}


	article {
		grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
	 }
}

@media (max-width: 5in) {
	:root {
		font-size: 16px;
	}
}

h1 {
	font:700 2.0rem/1.2 "Oswald"; color: hsl(000, 0%, 33%);
}

h2 {
	font:400 1.5rem/1.2 "Oswald"; color: hsl(000, 0%, 33%);
}

time {
	font:700 1.0rem/1.2 "Oswald"; color: hsl(250, 100%, 80%);
}

h3 {
	font:700 1.0rem/1.2 "Oswald"; color: hsl(250, 100%, 72%);
}

p {
	font:400 1.0rem/1.7 "Oswald"; color: hsl(000, 0%, 33%);
}

figcaption p {
	font:400 1.0rem/1.7 "Oswald"; color: hsl(000, 0%, 83%);
}

a {
	/* inset places the box shadow inside the elemtent, 0 for X, -0.25em for Y - em because shadow should be proportional to the font size */

	box-shadow: inset 0 -0.25em hsl(55, 100%, 75%);
}

h2, p {
	margin-bottom: 2.4rem; /* reset.css bases its line height on a different standard 20px, so this value is relative to THAT. */
}
