/* EXAMPLE OF A MEDIA QUERY */
/* WHEN THIS CONDITION BECOMES TRUE, THE ATTRIBUTE WILL BE CHANGED. */
/* @media (max-width: 8.5in) {
	body {
		background-color: red;
	}·
} */

article {
	display: grid;
	grid-template-columns: 1fr 1in [start] 7.5in [end] 1in 1fr;

	height: 100vh;

	padding: 0.5in 0;
}

article * {
	grid-column: start/end;
}

@media (max-width: 8.5in) {
	article {
		grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr;
	 }
}
